# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
.idea
.vscode

/bin
spider/spider
spider/coookies.json
kafka/kafka/
kafka/zapi
kafka/zworker
zipkin/zipkin.jar
compiler/compiler
compiler/simple
istio/istio-*/
k8s/crd/zcrd
